<h1>Cadastro Aluno</h1>

Id: <input type="text"/><br><br>
Name: <input type="text"/><br><br>
Gender:
Female<input type="radio" name="Gender" value="M"/> Male <input type="radio" name="Gender" value="F"/><br><br>
<button>Add Aluno</button>
<hr>
<h1>Alunos Cadastrados</h1>

<div *ngFor="let al of alunos">{{ al.id }} | {{ al.name }} | {{ al.gender }}</div> <!-- ngFor no modo watch, interagindo com o Aluno do aluno.component.ts -->



<!-- Lixos uteis -->

<!--  <h1>{{title}}</h1> -->
<!-- {{aluno}} -->
<!--  {{aluno?.id}}
{{aluno?.name}}
{{aluno?.gender}} -->
