<h1>Cadastro Aluno</h1>

Id: <input type="text" [(ngModel)]="aluno.id" placeholder="Digit an ID"/><br><br>
Name: <input type="text" [(ngModel)]="aluno.name" placeholder="Digit a Name"/><br><br>



Gender:
Female<input type="radio" [(ngModel)]="aluno.gender" value="Female"/> Male <input type="radio" [(ngModel)]="aluno.gender" value="Male"/><br><br>
<button (click)="addAluno(aluno)">Save</button> <button (click)="searchAluno(aluno)">Search</button> <button (click)="removeAluno(aluno)">Delete</button> <button (click)="clean()">Clean</button>
<hr>
<h1>Alunos Cadastrados</h1>

<div *ngFor="let al of alunos">{{ al.id }} | {{ al.name }} | {{ al.gender }}</div> <!-- ngFor no modo watch, interagindo com o Aluno do aluno.component.ts -->

<br>
test binding {{aluno.id}} {{aluno.name}} {{aluno.gender}}

<!-- Lixos uteis -->

<!--  <h1>{{title}}</h1> -->
<!-- {{aluno}} -->
<!--  {{aluno?.id}}
{{aluno?.name}}
{{aluno?.gender}} -->
