
<div class="test">
  <h1>Cadastro Aluno</h1>
  Id: <input type="text" [(ngModel)]="aluno.id" placeholder="Digit an ID"/><br><br>
  Name: <input type="text" [(ngModel)]="aluno.name" placeholder="Digit a Name"/><br><br>



  Gender:
  Female<input type="radio" [(ngModel)]="aluno.gender" value="Female"/> Male <input type="radio" [(ngModel)]="aluno.gender" value="Male"/><br><br>
  <button class="btn btn-primary" (click)="addAluno(aluno)">Save</button> <button class="btn btn-info" (click)="searchAluno(aluno)">Search</button> <button class="btn btn-danger" (click)="removeAluno(aluno)">Delete</button> <button class="btn btn-secondary" (click)="clean()">Clean</button>
</div>
<!-- <hr> -->
<h1>Alunos Cadastrados</h1>

<!-- <div *ngFor="let al of alunos">{{ al.id }} | {{ al.name }} | {{ al.gender }}</div> --> <!-- ngFor no modo watch, interagindo com o Aluno do aluno.component.ts -->

<table class="table" border="1px">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Option</th>
      </tr>
    </thead>
    <tr *ngFor="let al of alunos">
      <td>{{al.id}}</td>
      <td>{{al.name}}</td>
      <td>{{al.gender}}</td>
      <td> <button class="btn btn-danger" (click)="removeAluno(al)">Delete</button></td>
    </tr>

</table>

<br>
<!-- test binding {{aluno.id}} {{aluno.name}} {{aluno.gender}} -->

<!-- Lixos uteis -->

<!--  <h1>{{title}}</h1> -->
<!-- {{aluno}} -->
<!--  {{aluno?.id}}
{{aluno?.name}}
{{aluno?.gender}} -->
